{% extends 'base.html' %}
{% load static %}

{% block content %}
<style>
  .my_title{
    font-weight: 600;
  }
  .round{
    width: 150px;
    height: 150px; 
    border-radius: 70%;
    overflow: hidden;
  }
</style>
<section style="margin:80px 30px 0px 30px;">
  <div class="container">
    {% if user.is_authenticated %}

    <div class="hero-wrap js-fullheight">
      <div class="overlay"></div>
      <div id="particles-js"></div>
      <div class="container">
        <div class="row no-gutters slider-text align-items-center justify-content-center" data-scrollax-parent="true" style="background-image: url(../../static/images/배경사진.jpg); background-repeat: no-repeat; background-size: cover; ">
          <div class="col-md-6 ftco-animate text-center" data-scrollax=" properties: { translateY: '70%' }">
            <h1 class="mb-4" data-scrollax="properties: { translateY: '30%', opacity: 1.6 }" style="font-weight: 550;">{{user.username}}</h1>
            
            {% if user.profile.bio %}
            <h1 class="mb-4" data-scrollax="properties: { translateY: '30%', opacity: 1.6 }" style="font-weight: 400;">" {{user.profile.bio}} "</h1>
            {% else %}
            <h1 class="mb-4" data-scrollax="properties: { translateY: '30%', opacity: 1.6 }" style="font-weight: 400;">" 나만의 꿈 기록 "</h1>
            {% endif %}

<div class="row" data-scrollax="properties: { translateY: '30%', opacity: 1.6 }">
  <div class="col-xs-6 col-md-3">
      {% if user.profile.profile_photo %}
      <img class="round" src="{{user.profile.profile_photo.url}}" width="200"> <br>
      {% else %}
      <img class="round" src="{% static './../static/images/글_2.jpg' %}" width="200"> <br>
      {% endif %}
  </div>

  <div class="col-xs-6 col-md-3 "data-scrollax="properties: { translateY: '30%', opacity: 1.6 }">
    <!-- user -->
      <h3 style="color: white;"> ID : {{user.username}} </h3><br>
          {% if user.first_name is not None %}
            <h2 class="mb-4" data-scrollax="properties: { translateY: '30%', opacity: 1.6 }" style="font-weight: 400; color: rgb(139, 139, 139);" >이름:{{user.last_name}}{{user.first_name}} </h2>
          {% endif %}
      {% if user %}   <!-- 로그인한 사용자와 user(프로필 소유자)가 일치할 때만 프로필 편집이 가능하도록 함 -->
        <a href="{% url 'mypage:profile_update' %}"><button type="button" class="btn btn-default">프로필 편집</button></a></h2></a>
      {% endif %}
  </div>
</div>
          </div>
          

        </div>
      </div>
    </div>
    <div class="myList">

    
      <div class="story">
        <i class="fas fa-feather-alt fa-2x"></i>
        <h1 class="my_title">내가 작성한 이야기</h1>
        {{ user.profile.user }}
          <!-- 게시글 나열하는 프론트  -->
          <div class="row">
            {% for story in storys %}
            <div class="col-md-4 ftco-animate">
              <div class="blog-entry">
                <a href="{% url 'detailS' story.id %}" class="block-20" style="background-image: url('/static/images/글_2.jpg');"></a>
                <div class="text p-4 d-block">
                  <div class="meta mb-3">
                    <div><a href="{% url 'detailS' story.id %}">{{story.pub_date}}</a></div>
                    <div><a href="{% url 'detailS' story.id %}">{{story.writer}}</a></div>
                  </div>
                  <h3 class="heading"><a href="{% url 'detailS' story.id %}">{{story.title}}</a></h3>
                </div>
              </div>
            </div>
            {%endfor%}
        </div>
      </div>

      <hr>

      <div class="illustration">
        <i class="fas fa-paint-brush fa-2x"></i>
        <h1 class="my_title">내가 그린 그림</h1>
        <div class="row">
          {% for illustration in illustrations %}
          <div class="col-md-4 ftco-animate">
            <div class="blog-entry">
              <a href="{% url 'detailS' illustration.id %}" class="block-20" style="background-image: url('/static/images/그림_2.png');"></a>
              <div class="text p-4 d-block">
                <div class="meta mb-3">
                  <div><a href="{% url 'detailS' illustration.id %}">{{illustration.pub_date}}</a></div>
                  <div><a href="{% url 'detailS' illustration.id %}">{{illustration.writer}}</a></div>
                </div>
                <h3 class="heading"><a href="{% url 'detailS' illustration.id %}">{{illustration.title}}</a></h3>
              </div>
            </div>
          </div>
          {%endfor%}
        </div>
      </div>

      <hr>

      <div class="music">
        <i class="fas fa-music fa-2x"></i>
        <h1 class="my_title">내가 작곡한 음악</h1>
        <div class="row">
          {% for music in musics %}
          <div class="col-md-4 ftco-animate">
            <div class="blog-entry">
              <a href="{% url 'detailS' music.id %}" class="block-20" style="background-image: url('/static/images/음악_4.jpg');"></a>
              <div class="text p-4 d-block">
                <div class="meta mb-3">
                  <div><a href="{% url 'detailS' music.id %}">{{music.pub_date}}</a></div>
                  <div><a href="{% url 'detailS' music.id %}">{{music.writer}}</a></div>
                </div>
                <h3 class="heading"><a href="{% url 'detailS' music.id %}">{{music.title}}</a></h3>
              </div>
            </div>
          </div>
          {%endfor%}
        </div>
      </div>
    </div>
    
    
    {% else %}
    <div style="display:block; text-align: center; width:900px;margin: 300px auto; position:relative;">
      <h3>로그인 후 이용 가능</h3>
      <br>
      <a href="{% url 'account_login' %}" class="btn btn-warning">로그인</a>
      <a href="{% url 'account_signup' %}" class="btn btn-warning">회원가입</a>
    </div>
    <!-- 카테고리 별 글작성 추가 될시 이름에 맞게 수정할예정  -->

    
    
    <!-- <div class="MyData">
      <div class="stroy">
        <h1>나의 이야기</h1>
        {% for stroy in storys %}
          <a href="{% url 'main:stroy_detail' stroy.id %}">{{stroy.title}}</a><hr>
        {%endfor%}
      </div>
      <div class="music">
        <h1>나의 작곡</h1>
        <a href="{% url 'main:music_detail' music.id %}">{{music.title}}</a><hr>
      </div>
      <div class="illustration">
        <h1>나의 그림</h1>
        <a href="{% url 'main:illustration_detail' illustration.id %}">{{illustration.title}}</a><hr>
      </div>
    </div> -->


    {% endif %}

  </div>
</section>
<script src="https://kit.fontawesome.com/6478f529f2.js" crossorigin="anonymous">
</script>
{% endblock %}