{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class="hero-wrap js-fullheight">
    <div class="overlay"></div>
    <div id="particles-js"></div>
    <div class="container">
      <div class="row no-gutters slider-text align-items-center justify-content-center" data-scrollax-parent="true" style="background-image: url(../static/images/배경사진.jpg); background-size: cover; background-repeat: no-repeat;">
        <div class="col-md-6 ftco-animate text-center" data-scrollax=" properties: { translateY: '70%' }">
          <p class="breadcrumbs" data-scrollax="properties: { translateY: '30%', opacity: 1.6 }"><span class="mr-2">DREAM DIARY</span> </p>
          <h1 class="mb-3 bread" data-scrollax="properties: { translateY: '30%', opacity: 1.6 }">여러분의 소중한 꿈을 기록해보세요</h1><br><br>
          {%if user.is_authenticated%}
            <h3><span class="mr-2"><a href="{% url 'newD' %}">꿈 다이어리 작성하기</a></span> </h3>
          {% endif %}
        </div>
      </div>
    </div>
  </div>
  
  <section class="ftco-section bg-light">
    <div class="container">
      <h1 class="mb-3 bread" data-scrollax="properties: { translateY: '30%', opacity: 1.6 }">Dream Diary</h1>
      <div class="row">
        {% for post in posts %}
        <div class="col-md-4 ftco-animate">
          <div class="blog-entry">
            <a href="{% url 'detailD' post.id %}" class="block-20">            
              {% if post.image %}
                <img src = "{{ post.image.url }}" alt="사진" class="img-fluid mb-4">
              {% else %}
                <img src="{% static 'images/image_1.jpg' %}" alt="default_image" class="img-fluid mb-4">
              {% endif %}
            </a>

            <div class="text p-4 d-block">
              <h3 class="heading"><a href="{% url 'detailD' post.id %}">{{post.title}}</a></h3>
              <div class="meta mb-3">
                <div><a href="{% url 'mypage:mypage' %}">{{post.writer}}</a></div><br>
                <div><h6>{{post.created_at}}</h6></div>
                <!-- <div><a href="{% url 'detailS' post.id %}" class="meta-chat"><span class="icon-chat"></span> {{count}}</a></div> -->
              </div>
            </div>
          </div>
        </div>
        {%endfor%}
      </div>
      <div class="row mt-5">
        <div class="col text-center">
          <div class="block-27">
            <ul>
              <li><a href="#">&lt;</a></li>
              <li class="active"><span>1</span></li>
              <li><a href="#">2</a></li>
              <li><a href="#">3</a></li>
              <li><a href="#">4</a></li>
              <li><a href="#">5</a></li>
              <li><a href="#">&gt;</a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </section>
{% endblock %}