{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class="hero-wrap js-fullheight">
    <div class="overlay"></div>
    <div id="particles-js"></div>
    <div class="container">
      <div class="row no-gutters slider-text align-items-center justify-content-center" data-scrollax-parent="true" style="background-image: url(../static/images/배경사진.jpg);">
        <div class="col-md-6 ftco-animate text-center" data-scrollax=" properties: { translateY: '70%' }">
          <p class="breadcrumbs" data-scrollax="properties: { translateY: '30%', opacity: 1.6 }"><span class="mr-2">함께 악상을 이어가세요.</span> </p>
          <h1 class="mb-3 bread" data-scrollax="properties: { translateY: '30%', opacity: 1.6 }">꿈 릴레이</h1>
        </div>
      </div>
    </div>
  </div>
  
  <section class="ftco-section ftco-degree-bg">
    <div class="container">
      <div class="row">
        <div class="col-md-8 ftco-animate">
          <h2 class="mb-3">{{post.title}}</h2>
          작성자 : <a href="{% url 'mypage:mypage' post.writer.id %}">{{post.writer}}</a>

            {% if post.image %}
                <p><img src="{{ post.image.url }}" alt="사진" class="img-fluid"></p>
            {% else %}
                <p>첨부파일이 없습니다.</p>
            {% endif %}
            <h3>음악의 시작</h3>
            <h4>{{post.body}}</h4>

<!-- 하트표시 -->
<span href="#" class="like" name ="{{post.id}}" value="Like"> 
  {% if user in post.like_user_set.all %}
      <div class="alt-service-icon">
          <i class="fas fa-heart" id ="like-icon" style="color:red;"></i>
       </div>   
  {% else %}
      <div class="alt-service-icon">
           <i class="far fa-heart" id ="like-icon" style="color:red;"></i> 
      </div>
   {% endif %}
<!-- 좋아요개수 -->
   <span id="count-{{ post.id }}" class="alt-services-title font-alt"> 
      좋아요 
      {% if post.like_count == 0 %} 
          0개 
      {% else %}
          {{ post.like_count }}개
      {% endif %}
   </span>
</span>
          <div class="pt-5 mt-5">
            <h3 class="mb-5">{{count}} 개의 다음 악상</h3>
            <ul class="comment-list">
              {% for comment in comments %}
              <li class="comment">
                <div class="vcard bio">
                  {% if comment.writer.profile.profile_photo %}
                    <img class="round" src="{{comment.writer.profile.profile_photo.url}}" width="200"> <br>
                  {% else %}
                    <img class="round" src="{% static './../static/images/프로필기본이미지.png' %}" width="200"> <br>
                  {% endif %}
                </div>
                <div class="comment-body">
                  <h3>작성자 : {{comment.writer}}</h3>
                  <div class="meta">{{comment.created_at}}</div>
                  <p>{{comment.content}}</p><br>
                  <!-- 댓글 사진 첨부 -->
                  {% if comment.image %}
                  <p><img src="{{ comment.image.url }}" alt="사진" class="img-fluid"></p>
                  {% else %}
                  <p>첨부파일이 없습니다.</p>
                  <!-- <div class="vcard bio">
                    <img src="{% static 'images/unicorn.png' %}" alt="Image placeholder">
                  </div> -->
                  {% endif %}
                  <!-- 댓글수정은 댓글 작성자만, 댓글삭제는 댓글작성자와 게시물작성가 할 수 있도록! -->
                  {% if user == comment.writer %}
                  <p><button type="button" class="btn btn-outline-info"><a href="{% url 'edit_commentM' post.id comment.id %}">수정하기</a></button></p>
                  {% endif %}
                  {% if user == post.writer %}
                  <p><button type="button" class="btn btn-outline-info"><a href="{% url 'delete_commentM' post.id comment.id %}">삭제하기</a></button></p>
                  {% elif user == comment.writer %}
                  <p><button type="button" class="btn btn-outline-info"><a href="{% url 'delete_commentM' post.id comment.id %}">삭제하기</a></button></p>
                  {% endif %}
                </div>
              </li>
              {%endfor%}
            </ul>
            <!-- END comment-list -->
            
            <div class="comment-form-wrap pt-5">
              <h3 class="mb-5">다음에 이어질 음악을 작성해 주세요!!</h3>
              {%if user.is_authenticated%}
              <form action="{% url 'create_commentM' post.id %}" method="post" enctype="multipart/form-data" class="p-5 bg-light" >
                {%csrf_token%}
                <div class="form-group">
                  <label for="message">다음 악상</label>
                  <textarea name="content" id="message" cols="30" rows="10" class="form-control"></textarea>
                </div>
                <p>첨부파일 :</p>
                <input type="file" name="image" onchange="fileCheck(this)">
                {% if post.image %}
                    <p>{{post.image_name}}</p>
                {% endif %}
                <div class="form-group">
                  <input type="submit" value="작성하기" class="btn py-3 px-4 btn-primary">
                </div>
              </form>
              {% else %}
              <h3><span class="mr-2">로그인 후 다음 음악 작성이 가능합니다.</span> </h3>
              {% endif%}
            </div>
          </div>

        </div> <!-- .col-md-8 -->
        <div class="col-md-4 sidebar ftco-animate order-first">
          <div class="sidebar-box">
            <form action="#" class="search-form">
              <div class="form-group">
                <span class="icon fa fa-search"></span>
                {{post.pub_date}}
                <!-- <input type="text" class="form-control" placeholder="Type a keyword and hit enter"> -->
              </div>
            </form>
          </div>
          {% if user == post.writer %}
          <div class="sidebar-box ftco-animate">
            <div class="categories">
              <h3><button type="button" class="btn btn-outline-info"><a href="{% url 'editM' post.id %}">수정하기</a></button></h3>
              <h3><button type="button" class="btn btn-outline-info"><a href="{% url 'deleteM' post.id %}">삭제하기</a></button></h3>
              <h3><button type="button" class="btn btn-outline-info"><a href="{% url 'createML' post.id %}">작품 완성하기</a></button></h3>
          </div>
          {% endif %}

          <div class="sidebar-box ftco-animate">
            <h3>작성자의 다른 음악</h3>
            <div class="block-21 mb-4 d-flex">
              <a class="blog-img mr-4" style="background-image: url(/static/images/image-1.jpg);"></a>
              <div class="text">
                <h3 class="heading"><a href="#">꿈 음악 1</a></h3>
                <div class="meta">
                  <div><a href="#"><span class="icon-calendar"></span> 시간</a></div>
                  <div><a href="#"><span class="icon-person"></span> 작성자</a></div>
                  <div><a href="#"><span class="icon-chat"></span> 조회수</a></div>
                </div>
              </div>
            </div>
            <div class="block-21 mb-4 d-flex">
              <a class="blog-img mr-4" style="background-image: url(/static/images/image-4.jpg);"></a>
              <div class="text">
                <h3 class="heading"><a href="#">꿈 음악 2</a></h3>
                <div class="meta">
                  <div><a href="#"><span class="icon-calendar"></span> 시간</a></div>
                  <div><a href="#"><span class="icon-person"></span> 작성자</a></div>
                  <div><a href="#"><span class="icon-chat"></span> 조회수</a></div>
                </div>
              </div>
            </div>
            <div class="block-21 mb-4 d-flex">
              <a class="blog-img mr-4" style="background-image: url(/static/images/image-6.jpg);"></a>
              <div class="text">
                <h3 class="heading"><a href="#">꿈 음악 3</a></h3>
                <div class="meta">
                  <div><a href="#"><span class="icon-calendar"></span> 시간</a></div>
                  <div><a href="#"><span class="icon-person"></span> 작성자</a></div>
                  <div><a href="#"><span class="icon-chat"></span> 조회수</a></div>
                </div>
              </div>
            </div>
          </div>

          <div class="sidebar-box ftco-animate">
            <!-- <h3>Tag Cloud</h3>
            <div class="tagcloud">
              <a href="#" class="tag-cloud-link">dish</a>
              <a href="#" class="tag-cloud-link">menu</a>
              <a href="#" class="tag-cloud-link">food</a>
              <a href="#" class="tag-cloud-link">sweet</a>
              <a href="#" class="tag-cloud-link">tasty</a>
              <a href="#" class="tag-cloud-link">delicious</a>
              <a href="#" class="tag-cloud-link">desserts</a>
              <a href="#" class="tag-cloud-link">drinks</a>
            </div> -->
          </div>

          <!-- <div class="sidebar-box ftco-animate">
            <h3>Paragraph</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ducimus itaque, autem necessitatibus voluptate quod mollitia delectus aut, sunt placeat nam vero culpa sapiente consectetur similique, inventore eos fugit cupiditate numquam!</p>
          </div> -->
        </div>

      </div>
    </div>
  </section> <!-- .section -->

  <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
<!-- 좋아요 스크립트 -->
<script>
    $(".like").click(function(){
        var pk = $(this).attr('name')
        $.ajax({
            type:"POST",
            url : "{% url 'main:like_toggleM' post.pk %}",
            data : {'pk':pk,'csrfmiddlewaretoken': '{{ csrf_token }}'},
            dataType:"json",
            
            success: function(response){

                if (response.like_count==null){
                    alert("로그인이 필요합니다.");
                    window.location.replace('/accounts/login/')
                }
                else{
                    if (response.result == "like"){
                        $('#like-icon').removeClass();
                        $('#like-icon').addClass('fas fa-heart');
                    }
                    else{
                        $('#like-icon').removeClass();
                        $('#like-icon').addClass('far fa-heart');
                    }

                    $('#count-{{ post.id }}').html('좋아요 '+response.like_count+'개');
                }
            },

            error: function(request, status, error){
                alert("로그인이 필요합니다.")
	            alert("code:"+request.status+"\n"+"message:"+request.responseText+"\n"+"error:"+error); 
        	},
         })
    })
 </script>
{% endblock %}