{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class="hero-wrap js-fullheight">
    <div class="overlay"></div>
    <div id="particles-js"></div>
    <div class="container">
      <div class="row no-gutters slider-text align-items-center justify-content-center" data-scrollax-parent="true" style="background-image: url(../static/images/배경사진.jpg); background-repeat: no-repeat; background-size: cover;">        
        <div class="col-md-6 ftco-animate text-center" data-scrollax=" properties: { translateY: '70%' }">
          <h3><span class="mb-3 bread" data-scrollax="properties: { translateY: '30%', opacity: 1.6 }">우리들의 꿈으로 시작하는</span> </h3>
          <h1 class="mb-3 bread" data-scrollax="properties: { translateY: '30%', opacity: 1.6 }">꿈 릴레이</h1>
        </div>
      </div>
    </div>
  </div>
  <section class="ftco-section">
    <div class="container">
      <div class="row no-gutters justify-content-center mb-5 pb-5">
        <div class="col-md-7 text-center heading-section ftco-animate">
          <span class="subheading">꿈 릴레이</span>
          <h2 class="mb-4">같이 이어가는 당신의 꿈!</h2>
          <p>세상의 모든 몽상가들을 위한 공간. 어떤 꿈이든 작품이 될 수 있어! <br> 집단지성의 힘! 함께 끄적였던 것들이 모여 가치를 만들어냅니다. </p>
        </div>
      </div>
      <div class="row">
        <div class="block-3 d-md-flex ftco-animate" data-scrollax-parent="true">
          <a href="{% url 'story' %}" class="image" style="background-image: url('/static/images/work-1.png'); " data-scrollax=" properties: { translateY: '-20%'}">
          </a>
          <div class="text">
            <h4 class="subheading">Scenario</h4>
            <h2 class="heading"><a href="{% url 'story' %}">꿈의 이야기로 우리만의 시나리오를 만들어봐요!</a></h2>
            <p>당신이 꾼 작은 꿈이 하나의 사건이 되어 블록버스터로 거듭날 수 있는 곳! 어쩌면 당신이 꾼 꿈과 다른 사람의 꿈이 연관되어있을지 몰라요. 여러사람의 톡톡튀는 시나리오를 이어가며 결말을 내 우리만의 릴레이 북을 만들어봅시다.</p>
             <p><a href="{% url 'story' %}" class="btn btn-primary px-4">이야기 시작하기</a></p>
          </div>
        </div>
        <center>
          <div class="block-3 d-md-flex ftco-animate" data-scrollax-parent="true">
            <a href="{% url 'illustration' %}" class="image image-2 order-2" style="background-image: url('/static/images/work-2.png');" data-scrollax=" properties: { translateY: '-20%'}"></a>
            <div class="text order-1">
              <h4 class="subheading">Drawing</h4>
              <h2 class="heading"><a href="{% url 'illustration' %}">스케치부터 채색 및 그래픽, 어쩌면 릴레이툰까지?</a></h2>
              <p>우리 모두 빈센트 반 고흐! 같이 그림 완벽한 그림을 완성해봐..♡<br> 혹시, 무한도전의 릴레이툰을 아시나요? 아이디어가 부족하다면 다른사람들과 함께 하는 것이 어때요?</p>
              <p><a href="{% url 'illustration' %}" class="btn btn-primary px-4">그림 시작하기</a></p>
            </div>
          </center>
        <div class="block-3 d-md-flex ftco-animate" data-scrollax-parent="true">
          <a href="{% url 'music' %}" class="image" style="background-image: url('/static/images/work-3.png'); " data-scrollax=" properties: { translateY: '-20%'}"></a>
          <div class="text">
            <h4 class="subheading">Music</h4>
            <h2 class="heading"><a href="{% url 'music' %}">훅은 짰는데.. 인트로를 어떻게 구성하지?</a></h2>
            <p>인트로, 벌스, 훅, 가사 등.. 혼자 고민하지 마세요! 내가 만든 훅, 저사람이 만든 인트로와 이어보면 어때요? 같은 감성을 가진 사람끼리 함께 작곡해봐요!</p>
            <p><a href="{% url 'music' %}" class="btn btn-primary px-4">음악 시작하기</a></p>
          </div>
        </div>
      </div>
        <!--
        <div class="block-3 d-md-flex ftco-animate" data-scrollax-parent="true">
          <a href="{% url 'portfolio' %}" class="image image-2 order-2" style="background-image: url('/static/images/work-4.jpg');" data-scrollax=" properties: { translateY: '-20%'}"></a>
          <div class="text order-1">
            <h4 class="subheading">Application</h4>
            <h2 class="heading"><a href="{% url 'portfolio' %}">Even the all-powerful Pointing has no control</a></h2>
            <p>Even the all-powerful Pointing has no control about the blind texts it is an almost unorthographic life One day however a small line of blind text by the name of Lorem Ipsum decided to leave for the far World of Grammar.</p>
            <p><a href="{% url 'portfolio' %}" class="btn btn-primary px-4">View Portfolio</a></p>
          </div>
        </div>
        <div class="block-3 d-md-flex ftco-animate" data-scrollax-parent="true">
          <a href="{% url 'portfolio' %}" class="image" style="background-image: url('/static/images/work-5.jpg'); " data-scrollax=" properties: { translateY: '-20%'}"></a>
          <div class="text">
            <h4 class="subheading">Web Design</h4>
            <h2 class="heading"><a href="{% url 'portfolio' %}">Even the all-powerful Pointing has no control</a></h2>
            <p>Even the all-powerful Pointing has no control about the blind texts it is an almost unorthographic life One day however a small line of blind text by the name of Lorem Ipsum decided to leave for the far World of Grammar.</p>
            <p><a href="{% url 'portfolio' %}" class="btn btn-primary px-4">View Portfolio</a></p>
          </div>
        </div>
        <div class="block-3 d-md-flex ftco-animate" data-scrollax-parent="true">
          <a href="{% url 'portfolio' %}" class="image image-2 order-2" style="background-image: url('/static/images/work-6.jpg');" data-scrollax=" properties: { translateY: '-20%'}"></a>
          <div class="text order-1">
            <h4 class="subheading">Application</h4>
            <h2 class="heading"><a href="{% url 'portfolio' %}">Even the all-powerful Pointing has no control</a></h2>
            <p>Even the all-powerful Pointing has no control about the blind texts it is an almost unorthographic life One day however a small line of blind text by the name of Lorem Ipsum decided to leave for the far World of Grammar.</p>
            <p><a href="{% url 'portfolio' %}" class="btn btn-primary px-4">View Portfolio</a></p>
          </div>
        </div>
      </div>
      
      <div class="row mt-5">
        <div class="col text-center">
          <div class="block-27">
            <ul>
              <li><a href="#">&lt;</a></li>
              <li class="active"><span>1</span></li>
              <li><a href="#">2</a></li>
              <li><a href="#">3</a></li>
              <li><a href="#">4</a></li>
              <li><a href="#">5</a></li>
              <li><a href="#">&gt;</a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    -->
  </section>
{% endblock %}