{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class="hero-wrap js-fullheight">
    <div class="overlay"></div>
    <div id="particles-js"></div>
    <div class="container">
      <div class="row no-gutters slider-text align-items-center justify-content-center" data-scrollax-parent="true" style="background-image: url(../static/images/배경사진.jpg);">
        <div class="col-md-6 ftco-animate text-center" data-scrollax=" properties: { translateY: '70%' }">
          <p class="breadcrumbs" data-scrollax="properties: { translateY: '30%', opacity: 1.6 }"><span class="mr-2"></span></p>
          <h1 class="mb-3 bread" data-scrollax="properties: { translateY: '30%', opacity: 1.6 }">다음 악상 수정하기</h1>
        </div>
      </div>
    </div>
  </div>
  
  <section class="ftco-section contact-section ftco-degree-bg">
    <div class="container bg-light">
      <div class="row d-flex mb-5 contact-info">
        <div class="col-md-12 mb-4">
          <h2 class="h4">악상 수정하기</h2>
        </div>
        <div class="w-100"></div>
      </div>
      <div class="row block-9">
        <div class="col-md-6 pr-md-5">
            <form action="{% url 'update_commentM' post.id comment.id%}" method="post" enctype="multipart/form-data">
                {%csrf_token%}
                <p>내용 : <textarea type="text" name="content" id="" cols="30" rows="10">{{comment.content}}</textarea></p>
                <button type="submit">제출</button>
            </form>
        </div>
      </div>
    </div>
  </section>
{% endblock %}