{% extends 'base.html' %}
{% load static %}
{% block content %}
<div class="hero-wrap js-fullheight">
    <div class="overlay"></div>
    <div id="particles-js"></div>
    <div class="container">
      <div class="row no-gutters slider-text align-items-center justify-content-center" data-scrollax-parent="true" style="background-image: url(../static/images/배경화면1.png); background-size: cover; background-repeat: no-repeat;">
        <div class="col-md-6 ftco-animate text-center" data-scrollax=" properties: { translateY: '70%' }">
          <!--h1 class="mb-4" data-scrollax="properties: { translateY: '30%', opacity: 1.6 }">We love to create <strong>Beautiful</strong> websites</h1-->
          <p data-scrollax="properties: { translateY: '30%', opacity: 1.6 }"><a href="{% url 'account_login' %}" class="btn btn-primary btn-outline-white px-5 py-3">Start</a></p>
        </div>
      </div>
    </div>
  </div>
  
  <div class="bg-light">
  <section class="ftco-section-featured ftco-animate">
    <div class="container-fluid" data-scrollax-parent="true">
      <div class="row no-gutters d-flex align-items-center" data-scrollax=" properties: { translateY: '-30%'}">

        <div class="col-md-3 mb-3">
          <a href="#" class="featured-img">
            <div class="text-1 p-4 d-flex align-items-center">
              <h3>Moonight<br><span class="tag">Music</span></h3>
            </div>
            <img src="{% static 'images/image-1.jpg' %}" class="img-fluid" alt="">
            <div class="text p-4 d-flex align-items-center">
              <div class="user d-flex align-items-center">
                <div class="user-img mr-3" style="background-image: url(/static/images/Person-1.jpg);"></div>
                <h3>이여원, 정민경 <br><span class="position">공동작곡</span></h3>
              </div>
            </div>
          </a>
        </div>
        
        <div class="col-md-6">
          <div class="row no-gutters">
            <div class="col-md-12">
              <div class="row no-gutters d-flex align-items-end">

                <div class="col-md-8">
                  <a href="#" class="featured-img">
                    <div class="text-1 p-4 d-flex align-items-center">
                      <h3>Endgame<br><span class="tag">Scenario</span></h3>
                    </div>
                    <img src="{% static 'images/image-5.jpg' %}" class="img-fluid" alt="">
                    <div class="text p-4 d-flex align-items-center">
                      <div class="user d-flex align-items-center">
                        <div class="user-img mr-3" style="background-image: url(/static/images/Person-1.jpg);"></div>
                        <h3>서희찬, 강동희, 신예진 <br><span class="position">공동집필</span></h3>
                      </div>
                    </div>
                  </a>
                </div>

                <div class="col-md-4">
                  <a href="#" class="featured-img">
                    <div class="text-1 p-4 d-flex align-items-center">
                      <h3>여인의 향기<br><span class="tag">Scenario</span></h3>
                    </div>
                    <img src="{% static 'images/image-4.jpg' %}" class="img-fluid" alt="">
                    <div class="text p-4 d-flex align-items-center">
                      <div class="user d-flex align-items-center">
                        <div class="user-img mr-3" style="background-image: url(/static/images/Person-1.jpg);"></div>
                        <h3>강동희, 신예진 <br><span class="position">공동집필</span></h3>
                      </div>
                    </div>
                  </a>
                </div>
                
              </div>
            </div>

            <div class="col-md-12">
              <div class="row no-gutters d-flex align-items-start">
                <div class="col-md-8">
                  <a href="{% url 'Moonight' %}" class="featured-img">
                    <div class="text-1 p-4 d-flex align-items-center">
                      <h3>해리포터 아들 이야기<br><span class="tag">Scenario</span></h3>
                    </div>
                    <img src="{% static 'images/image-6.jpg' %}" class="img-fluid" alt="">
                    <div class="text p-4 d-flex align-items-center">
                      <div class="user d-flex align-items-center">
                        <div class="user-img mr-3" style="background-image: url(/static/images/Person-1.jpg);"></div>
                        <h3>정민경, 서희찬, 이여원 <br><span class="position">공동집필</span></h3>
                      </div>
                    </div>
                  </a>
                </div>
                <div class="col-md-4">
                  <a href="#" class="featured-img">
                    <div class="text-1 p-4 d-flex align-items-center">
                      <h3>자화상<br><span class="tag">Illustration</span></h3>
                    </div>
                    <img src="{% static 'images/image-3.jpg' %}" class="img-fluid" alt="">
                    <div class="text p-4 d-flex align-items-center">
                      <div class="user d-flex align-items-center">
                        <div class="user-img mr-3" style="background-image: url(/static/images/Person-1.jpg);"></div>
                        <h3>정준홍, 신예진, 정민경 <br><span class="position">공동그림</span></h3>
                      </div>
                    </div>
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="col-md-3">
          <a href="{% url 'moana' %}" class="featured-img">
            <div class="text-1 p-4 d-flex align-items-center">
              <h3>모아나<br><span class="tag">Illustration</span></h3>
            </div>
            <img src="{% static 'images/image-2.jpg' %}" class="img-fluid" alt="">
            <div class="text p-4 d-flex align-items-center">
              <div class="user d-flex align-items-center">
                <div class="user-img mr-3" style="background-image: url(/static/images/Person-1.jpg);"></div>
                <h3>정준홍, 서희찬 <br><span class="position">공동그림</span></h3>
              </div>
            </div>
          </a>
        </div>

      </div>
      <div class="row mt-5 d-flex justify-content-center">
        <div class="col-md-8 text-center heading-section ftco-animate">
          <hr style="border: solid 1.5px pink; width: 200px;">
          <h1 class="mb-4">명예의 전당</h1>
          <hr style="border: solid 1.5px pink; width: 200px;">
          <h3>한 주간 가장 사랑받은 완성작</h3>
          <p><a href="{% url 'library' %}" class="btn btn-primary mt-3 py-3 px-5">꿈 도서관 가기</a></p>
        </div>
      </div>
    </div>
  </section>
  </div>
  

  <section class="ftco-section">
    <div class="container">
      <div class="row justify-content-center mb-5 pb-5">
        <div class="col-md-6 text-center heading-section ftco-animate">
          <span class="subheading">Our Services</span>
          <h2 class="mb-4">누구나 한 번쯤<br> 마음속에 품어봤을 <strong class="emphasis2" style="color: rgba(19, 61, 177, 0.815);">꿈</strong>,<br><strong class="emphasis" style="color:rgba(0, 0, 0, 0.733); background-color: rgba(214, 118, 243, 0.2);">이어드림</strong>에서 펼쳐보세요</h2>
          <p>"이어드림"은 사소한 아이디어로 시작하여 다른 사람들과의 릴레이를 통해 이야기, 그림, 음악 작품을 만들어나갈 수 있는 공간입니다.</p>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6 col-lg-3 d-flex align-self-stretch ftco-animate">
          <div class="media block-6 services d-block text-center">
            <div class="d-flex justify-content-center"><div class="icon color-3 d-flex justify-content-center mb-3"><img src="https://image.flaticon.com/icons/png/512/1553/1553222.png"></div></div>
            <div class="media-body p-2 mt-3">
              <h3 class="heading">함께하는</h3>
              <p>혼자라서 막막했다면 비슷한<br>꿈을 가진 사람들과 함께해요.</p>
            </div>
          </div>      
        </div>
        <div class="col-md-6 col-lg-3 d-flex align-self-stretch ftco-animate">
          <div class="media block-6 services d-block text-center">
            <div class="d-flex justify-content-center"><div class="icon color-1 d-flex justify-content-center mb-3"><img src="https://image.flaticon.com/icons/png/512/983/983535.png"></div></div>
            <div class="media-body p-2 mt-3">
              <h3 class="heading">첫걸음</h3>
              <p>머리로만 생각했던 아이디어를 끄집어내 꿈을 향한 첫걸음을<br>내디뎌봐요.</p>
            </div>
          </div>      
        </div>
        <div class="col-md-6 col-lg-3 d-flex align-self-stretch ftco-animate">
          <div class="media block-6 services d-block text-center">
            <div class="d-flex justify-content-center"><div class="icon color-2 d-flex justify-content-center mb-3"><img src="https://image.flaticon.com/icons/png/512/3314/3314636.png"></div></div>
            <div class="media-body p-2 mt-3">
              <h3 class="heading">무궁무진한</h3>
              <p>쉽게 지나칠 수 있는 소재를<br>기록하고 공유하며 창작의<br>무궁무진한 매력에 빠져봐요.</p>
            </div>
          </div>    
        </div>

        <div class="col-md-6 col-lg-3 d-flex align-self-stretch ftco-animate">
          <div class="media block-6 services d-block text-center">
            <div class="d-flex justify-content-center"><div class="icon color-4 d-flex justify-content-center mb-3"><img src="https://image.flaticon.com/icons/png/512/4751/4751779.png"></div></div>
            <div class="media-body p-2 mt-3">
              <h3 class="heading">도약</h3>
              <p>가벼운 시작이 여러분의 열정과 함께 어느새 하나의 작품으로의 도약을 이루는 것을 볼 수 있어요.</p>
            </div>
          </div>      
        </div>
      </div>
    </div>
  </section>
  <hr>
  <!--section class="ftco-section-parallax">
    <div class="parallax-img d-flex align-items-center">
      <div class="container">
        <div class="row d-flex justify-content-center">
          <div class="col-md-7 text-center heading-section heading-section-white ftco-animate">
            <h2>Subcribe to our Newsletter</h2>
            <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. Separated they live in</p>
            <div class="row d-flex justify-content-center mt-5">
              <div class="col-md-6">
                <form action="#" class="subscribe-form">
                  <div class="form-group">
                    <span class="icon icon-paper-plane"></span>
                    <input type="text" class="form-control" placeholder="Enter email address">
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section-->

  <section class="ftco-section">
    <div class="container">
      <div class="row no-gutters justify-content-center mb-5 pb-5">
        <div class="col-md-7 text-center heading-section ftco-animate">
          <span class="subheading">꿈 릴레이</span>
          <h2 class="mb-4">같이 이어가는 당신의 꿈!</h2>
          <p>세상의 모든 몽상가들을 위한 공간. 어떤 꿈이든 작품이 될 수 있어! <br> 집단지성의 힘! 함께 끄적였던 것들이 모여 가치를 만들어냅니다. </p>
        </div>
      </div>
      <div class="row">
        <div class="block-3 d-md-flex ftco-animate" data-scrollax-parent="true">
          <a href="{% url 'story' %}" class="image" style="background-image: url('/static/images/work-1.png'); " data-scrollax=" properties: { translateY: '-20%'}">
          </a>
          <div class="text">
            <h4 class="subheading">Scenario</h4>
            <h2 class="heading"><a href="{% url 'story' %}">꿈의 이야기로 우리만의 시나리오를 만들어봐요!</a></h2>
            <p>당신이 꾼 작은 꿈이 하나의 사건이 되어 블록버스터로 거듭날 수 있는 곳! 어쩌면 당신이 꾼 꿈과 다른 사람의 꿈이 연관되어있을지 몰라요. 여러사람의 톡톡튀는 시나리오를 이어가며 결말을 내 우리만의 릴레이 북을 만들어봅시다.</p>
             <p><a href="{% url 'story' %}" class="btn btn-primary px-4">이야기 시작하기</a></p>
          </div>
        </div>
        <center>
          <div class="block-3 d-md-flex ftco-animate" data-scrollax-parent="true">
            <a href="{% url 'illustration' %}" class="image" style="background-image: url('/static/images/work-2.png'); " data-scrollax=" properties: { translateY: '-20%'}"></a>
            <div class="text order-1">
              <h4 class="subheading">Drawing</h4>
              <h2 class="heading"><a href="{% url 'illustration' %}">스케치부터 채색 및 그래픽, 어쩌면 릴레이툰까지?</a></h2>
              <p>우리 모두 빈센트 반 고흐! 같이 그림 완벽한 그림을 완성해봐..♡<br> 혹시, 무한도전의 릴레이툰을 아시나요? 아이디어가 부족하다면 다른사람들과 함께 하는 것이 어때요?</p>
              <p><a href="{% url 'illustration' %}" class="btn btn-primary px-4">그림 시작하기</a></p>
            </div>
          </center>
        <div class="block-3 d-md-flex ftco-animate" data-scrollax-parent="true">
          <a href="{% url 'music' %}" class="image image-2 order-2" style="background-image: url('/static/images/work-3.png');" data-scrollax=" properties: { translateY: '-20%'}"></a>
          <div class="text">
            <h4 class="subheading">Music</h4>
            <h2 class="heading"><a href="{% url 'music' %}">훅은 짰는데.. 인트로를 어떻게 구성하지?</a></h2>
            <p>인트로, 벌스, 훅, 가사 등.. 혼자 고민하지 마세요! 내가 만든 훅, 저사람이 만든 인트로와 이어보면 어때요? 같은 감성을 가진 사람끼리 함께 작곡해봐요!</p>
            <p><a href="{% url 'music' %}" class="btn btn-primary px-4">작곡 시작하기</a></p>
          </div>
        </div>
      </div>
      <!--div class="row">
        <div class="col-md-12 text-center">
          <span><a href="#" class="btn btn-primary py-3 px-5">View All Projects</a></span>
        </div>
      </div-->
    </div>
  </section>

  <!--section class="ftco-section testimony-section bg-light">
    <div class="container">
      <div class="row justify-content-center mb-5 pb-5">
        <div class="col-md-7 text-center heading-section ftco-animate">
          <span class="subheading">Customer Says</span>
          <h2 class="mb-4">Our satisfied customer says</h2>
          <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. Separated they live in</p>
        </div>
      </div>
      <div class="row ftco-animate">
        <div class="col-md-12">
          <div class="carousel-testimony owl-carousel ftco-owl">
            <div class="item text-center">
              <div class="testimony-wrap p-4 pb-5">
                <div class="user-img mb-4" style="background-image: url(/static/images/person_1.jpg)">
                  <span class="quote d-flex align-items-center justify-content-center">
                    <i class="icon-quote-left"></i>
                  </span>
                </div>
                <div class="text">
                  <p class="mb-5">Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.</p>
                  <p class="name">Dennis Green</p>
                  <span class="position">Marketing Manager</span>
                </div>
              </div>
            </div>
            <div class="item text-center">
              <div class="testimony-wrap p-4 pb-5">
                <div class="user-img mb-4" style="background-image: url(/static/images/person_2.jpg)">
                  <span class="quote d-flex align-items-center justify-content-center">
                    <i class="icon-quote-left"></i>
                  </span>
                </div>
                <div class="text">
                  <p class="mb-5">Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.</p>
                  <p class="name">Dennis Green</p>
                  <span class="position">Interface Designer</span>
                </div>
              </div>
            </div>
            <div class="item text-center">
              <div class="testimony-wrap p-4 pb-5">
                <div class="user-img mb-4" style="background-image: url(/static/images/person_3.jpg)">
                  <span class="quote d-flex align-items-center justify-content-center">
                    <i class="icon-quote-left"></i>
                  </span>
                </div>
                <div class="text">
                  <p class="mb-5">Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.</p>
                  <p class="name">Dennis Green</p>
                  <span class="position">UI Designer</span>
                </div>
              </div>
            </div>
            <div class="item text-center">
              <div class="testimony-wrap p-4 pb-5">
                <div class="user-img mb-4" style="background-image: url(/static/images/person_1.jpg)">
                  <span class="quote d-flex align-items-center justify-content-center">
                    <i class="icon-quote-left"></i>
                  </span>
                </div>
                <div class="text">
                  <p class="mb-5">Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.</p>
                  <p class="name">Dennis Green</p>
                  <span class="position">Web Developer</span>
                </div>
              </div>
            </div>
            <div class="item text-center">
              <div class="testimony-wrap p-4 pb-5">
                <div class="user-img mb-4" style="background-image: url(/static/images/person_1.jpg)">
                  <span class="quote d-flex align-items-center justify-content-center">
                    <i class="icon-quote-left"></i>
                  </span>
                </div>
                <div class="text">
                  <p class="mb-5">Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.</p>
                  <p class="name">Dennis Green</p>
                  <span class="position">System Analytics</span>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  
  <section class="ftco-section ftco-counter" id="section-counter">
    <div class="container">
      <div class="row justify-content-center mb-5 pb-5">
        <div class="col-md-7 text-center heading-section heading-section-white ftco-animate">
          <h2>Our achievements</h2>
          <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. Separated they live in</p>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6 col-lg-4 d-flex justify-content-center counter-wrap ftco-animate">
          <div class="block-18 text-center">
            <div class="text">
              <strong class="number" data-number="400">0</strong>
              <span>Customers are satisfied with our professional support</span>
            </div>
          </div>
        </div>
        <div class="col-md-6 col-lg-4 d-flex justify-content-center counter-wrap ftco-animate">
          <div class="block-18 text-center">
            <div class="text">
              <strong class="number" data-number="1000">0</strong>
              <span>Amazing preset options to be mixed and combined</span>
            </div>
          </div>
        </div>
        <div class="col-md-6 col-lg-4 d-flex justify-content-center counter-wrap ftco-animate">
          <div class="block-18 text-center">
            <div class="text">
              <strong class="number" data-number="8000">0</strong>
              <span>Average response time on live chat support channel</span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="ftco-section bg-light">
    <div class="container">
      <div class="row justify-content-center mb-5 pb-5">
        <div class="col-md-7 text-center heading-section ftco-animate">
          <span class="subheading">Blog</span>
          <h2>Recent Blog</h2>
          <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. Separated they live in</p>
        </div>
      </div>
      <div class="row">
        <div class="col-md-4 ftco-animate">
          <div class="blog-entry">
            <a href="{%url 'blogsingle' %}" class="block-20" style="background-image: url('/static/images/image_1.jpg');">
            </a>
            <div class="text p-4 d-block">
              <div class="meta mb-3">
                <div><a href="#">July 12, 2018</a></div>
                <div><a href="#">Admin</a></div>
                <div><a href="#" class="meta-chat"><span class="icon-chat"></span> 3</a></div>
              </div>
              <h3 class="heading"><a href="#">Even the all-powerful Pointing has no control about the blind texts</a></h3>
            </div>
          </div>
        </div>
        <div class="col-md-4 ftco-animate">
          <div class="blog-entry" data-aos-delay="100">
            <a href="{% url 'blogsingle' %}" class="block-20" style="background-image: url('/static/images/image_2.jpg');">
            </a>
            <div class="text p-4">
              <div class="meta mb-3">
                <div><a href="#">July 12, 2018</a></div>
                <div><a href="#">Admin</a></div>
                <div><a href="#" class="meta-chat"><span class="icon-chat"></span> 3</a></div>
              </div>
              <h3 class="heading"><a href="#">Even the all-powerful Pointing has no control about the blind texts</a></h3>
            </div>
          </div>
        </div>
        <div class="col-md-4 ftco-animate">
          <div class="blog-entry" data-aos-delay="200">
            <a href="{% url 'blogsingle' %}" class="block-20" style="background-image: url('/static/images/image_3.jpg');">
            </a>
            <div class="text p-4">
              <div class="meta mb-3">
                <div><a href="#">July 12, 2018</a></div>
                <div><a href="#">Admin</a></div>
                <div><a href="#" class="meta-chat"><span class="icon-chat"></span> 3</a></div>
              </div>
              <h3 class="heading"><a href="#">Even the all-powerful Pointing has no control about the blind texts</a></h3>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section-->

   
{% endblock %}