{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class="hero-wrap js-fullheight">
    <div class="overlay"></div>
    <div id="particles-js"></div>
    <div class="container">
      <div class="row no-gutters slider-text align-items-center justify-content-center" data-scrollax-parent="true" style="background-image: url(../static/images/배경사진.jpg);">
        <div class="col-md-6 ftco-animate text-center" data-scrollax=" properties: { translateY: '70%' }">
          <p class="breadcrumbs" data-scrollax="properties: { translateY: '30%', opacity: 1.6 }"><span class="mr-2"><a href="{% url 'index' %}">Home</a></span> <span class="mr-2"><a href="{% url 'blog' %}">Blog</a></span> <span>Blog single</span></p>
          <h1 class="mb-3 bread" data-scrollax="properties: { translateY: '30%', opacity: 1.6 }">해리포터 아들과 마법사의 돌</h1>
        </div>
      </div>
    </div>
  </div>
  
  <section class="ftco-section ftco-degree-bg">
    <div class="container">
      <div class="row">
        <div class="col-md-8 ftco-animate">
          <h2 class="mb-3">#해리포터 아들과 마법사의 돌</h2>
          <p>1981년 11월 1일, 프리빗가 4번지의 평범한 것을 극히 중요하게 여기는 버넌 더즐리는 아내 피튜니아 더즐리와 어린 아들 더들리 더즐리의 배웅을 받으며 직장인 그러닝스로 일하러 나가는데, 그의 주변에는 망토를 두른 사람들이 돌아다니거나 포터 부부와 그들의 아들 해리에 대한 대화가 오간다거나 부엉이들이 그의 집 주위에서 날아다니는 등 이상한 일들이 일어난다. 버논 더즐리는 이상함과 수상함을 느끼지만 별로 개의치 않는다. 그날 저녁, 버넌은 피튜니아에게 포터 부부에 대해서 질문하지만 피튜니아는 이유도 없이 화를 낸다. 그날 밤, 프리빗가에서는 호그와트 교장 알버스 덤블도어 교수와 교감 미네르바 맥고나걸 교수가 어젯밤에 어둠의 마법사 볼드모트에게서 살아남고, 오히려 그를 죽게 만든 해리 포터에 대해 이야기하고, 루비우스 해그리드는 오토바이를 타고 아기인 해리를 데리고 프리빗가로 온다. 부모가 죽은 해리가 친족인 이모 피튜니아의 집에서 자라야 했기 때문이다.
        </p>
          <p>
            <img src="{% static 'images/image-6.jpg' %}" alt="" class="img-fluid">
          </p>
          <p>10년 후, 더즐리 가족에게 갖은 구박을 받으며 자란 해리는 더들리의 생일날 동물원에 같이 간다. 해리는 뱀과 대화를 하는데, 더들리가 그를 밀치자 갑자기 유리창이 없어지고 뱀은 탈출한다. 이 일로 해리는 벽장에 갇히게 된다.

            몇 달 후, 해리는 자신에게 온 편지를 확인하려다 버넌 이모부에게 빼앗기고 만다. 그는 편지를 절대 보여주지 않으려 하지만, 같은 편지가 계속 오고, 집 주변에 부엉이들이 계속 모여들자, 버넌 이모부는 먼 곳으로 떠나자며 자동차를 타고 무작정 달린다. 코크워스의 레일뷰 여관에서 하룻밤을 묵었으나 다음 날 아침, 여관 프런트 데스크에 해리 앞으로 수백 통의 지가 온 상황. 버넌 이모부는 다시 차를 타고 밭 한가운데, 다리 중간, 주차빌딩 꼭대기 등 여러 장소를 물색하다가 라이플총 1자루를 구해 피튜니아 이모, 더들리, 해리와 함께 해안의 바위섬에 세워진 오두막으로 간다. 그러나 해리의 생일인 7월 31일 새벽, 그 섬에 결국 숲지기 해그리드가 찾아오고, 해리에게 그 편지를 전해주면서 하는 말이,
            
            Harry― you're a wizard.
            해리― 넌 마법사야.
            
            해그리드는 해리의 생일 케이크를 먹어치우는 더들리, 해리의 엄마에 대해 언급하며 히스테리를 부리는 피튜니아 이모, 총을 들고 반항하는 버넌 이모부를 순식간에 조용히 시키고, 편지를 전해주는데, 해리의 호그와트 마법학교 입학 통지서였다. 동이 트자 해그리드는 해리와 함께 편지에 있던 준비물을 사러 다이애건 앨리로 가는 도중 리키 콜드런에서 머리에 터번을 쓴 호그와트 어둠의 마법 방어법 교수 퀴리너스 퀴럴을 만난다. 마법사 은행 그린고츠에서 해리는 부모님이 남겨주신 막대한 유산을, 해그리드는 713번 금고에서 스포일러를 찾은 후에 교복을 사러 간 상점인 말킨 부인의 망토가게에서 드레이코 말포이를 만나게 되고, 해그리드가 생일 선물로 데려온 부엉이 헤드위그와 첫만남을 갖는다. 이것저것 필요한 것들을 산 후에 마지막으로 마법 지팡이를 사러 갔는데, 지팡이 장인인 올리밴더에게 "지팡이가 마법사를 선택한다"는 말을 듣게 된다.
            
            호그와트에 입학하는 날인 9월 1일, 해리는 호그와트 급행열차를 타기 위해 킹스 크로스 역에 오게 된다. 하지만 9와 4분의 3 승강장 위치를 찾지 못했고 역무원에게도 물어봤지만 엉뚱한 소리 하지 말라고 핀잔만 들을 뿐이다. 바로 그때, 그 역무원의 뒤로 어느 일가족이 지나갔다. 그들은 바로 위즐리 가문으로 엄마 몰리 위즐리가 호그와트로 가려는 퍼시 위즐리, 쌍둥이 형제, 론 위즐리를 데리고 승강장으로 가고 있었고 막내 지니 위즐리도 오빠들을 배웅하기 위해 엄마를 따라왔다.
            
            그들이 승강장으로 들어가는 모습을 멀리서 보고 있던 해리는 조심스럽게 이들에게 다가가 승강장 안으로 들어가는 법을 묻는다. 이후 몰리가 가르쳐 주는 대로 무사히 승강장 안에 들어오는 데 성공하고 프레드와 조지의 도움을 받아 기차에 탑승했다. 이후 혼자 앉아서 가고 있는데 론이 다가오더니 빈자리가 없어서 그런다며 같이 좀 앉아 가자고 한다.  이런저런 이야기를 나누다가 개구리 초콜릿에서 알버스 덤블도어 카드를 뽑고, 내용을 확인한다. 이런 와중에 또다른 친구 헤르미온느 그레인저가 네빌 롱보텀의 두꺼비를 찾으러 그들의 칸으로 들어온다. 그녀는 벌써 마법으로 안경을 고쳐주기도 했다. 또 드레이코 말포이를 다시 만나게 되나, 이때 약간의 소동으로 사이가 틀어지게 된다.
            
            호그와트에 도착하고, 기숙사 배정식을 받게 되는데, 마법의 분류모자는 슬리데린과 고민하다 해리가 슬리데린을 거부하자 그리핀도르 기숙사에 배정시킨다. 론과 헤르미온느도 같은 기숙사가 되고, 말포이는 슬리데린에 배정받게 된다.
            
            첫 마법약 시간, 해리는 슬리데린을 편애한다는 소문이 난 마법약 교수 세베루스 스네이프와 좋지 않은 첫만남을 가지게 된다. 그리고 그날, 해리는 자신이 다이애건 앨리에 간 날 그린고츠에 도둑이 들어 713번 금고를 노렸으나 실패했다는 사실을 알게 된다.
            
            비행 수업. 네빌이 빗자루에서 떨어져 손목이 골절되는 사고를 당하자 교수 후치 선생은 꼼짝 말고 있으라 하나, 말포이가 네빌의 리멤브럴을 빼앗아 져버리자, 해리는 그것을 잡으려 빗자루를 타고 빠르게 내려가다 급정지한다. 이를 보고 놀란 맥고나걸 교수가 해리를 데리러 오자, 해리는 퇴학당할 것이라고 생각했지만, 그녀는 그리핀도르 퀴디치 팀 주장 올리버 우드에게 데려가 1학년 선수인 해리를 수색꾼으로 기숙사 퀴디치 팀에 해리를 배정시킨다.
            
            해리가 퇴학당하지 않고 오히려 퀴디치 팀에 가입했다는 사실을 안 말포이는 해리에게 마법사 결투를 요청하고, 해리는 승낙한다. 그날 자정, 약속 장소로 가려는데 모종의 이유로 해리, 론, 헤르미온느, 네빌이 함께 가게 된다. 그러나 사실 말포이는 없었고, 그들은 관리인 아거스 필치에게 쫓기다가 어느 방에서 지하실 문을 발로 밟고 있는 머리가 3개 달린 거대한 개를 발견하게 된다.
            
            다음 날 할로윈에 해리는 맥고나걸 교수에게 퀴디치에서 쓸 최고급 빗자루 님부스 2000을 선물받고는 팀 주장 올리버 우드에게 퀴디치 규칙에 대해 설명받고, 첫 연습을 하게 된다. 한편 마법 수업에서 공중부양 마법을 배우다 론은 헤르미온느에게 본의 아니게 상처를 주게 되고, 그녀는 여자 화장실에서 하루 종일 운다. 그날 밤 지하 감옥에 있던 트롤이 출몰하고, 그게 헤르미온느가 있는 여자 화장실로 가자 해리와 론은 트롤을 무찌르고 헤르미온느를 구한다. 이 이후로 그 셋은 가장 친한 친구가 된다.
            
            시간이 흘러 첫 퀴디치 시합날. 슬리데린과의 경기에서 해리는 빗자루를 제어하지 못하는 것처럼 보인다. 스네이프 교수가 그에게 주문을 걸고 있다는 걸 안 헤르미온느는 그를 막으러 가는 길에 퀴럴 교수와 부딪치나 스네이프에게 불을 붙이는 데 성공하고, 해리는 다시 빗자루를 제어하며 스니치를 잡아 승리하게 된다. 그리고 그들은 해그리드와 얘기하던 도중 머리 셋 달린 개의 이름은 복슬이고, 그 개가 지키고 있는 것은 덤블도어 교수와 니콜라 플라멜과 관련되어 있다는 것을 알게 된다.
            
            셋은 플라멜에 대해 알아보려 여러 조사를 해 보나 나오지 않는다. 그 와중에 크리스마스가 찾아오고, 해리는 크리스마스 선물로 해그리드가 보낸 투박한 나무 리코더, 더즐리 가족이 보낸 50펜스 동전, 위즐리 부인이 보낸 당밀 퍼지와 스웨터, 헤르미온느가 보낸 개구리 초콜릿을 뜯어 보고 마지막 선물을 봤는데 발신인이 없는 그 소포 안에서 아버지의 것이라는 투명 망토를 선물받고, 이를 이용해 플라멜에 대해 찾아보려 도서관에 갔다 돌아오는 길에 헤메다가 한 방 안에 있는 거울을 보게 된다. 놀랍게도 그 거울을 보자 해리의 뒤에 부모님을 비롯한 가족들을 보고, 다음날 론과 함께 가지만, 론은 전교 회장 배지를 달고 기숙사 우승컵과 퀴디치 우승컵을 든 자신을 보게 된다. 그 거울에 빠져 버린 해리는 또 찾아가는데, 이번엔 그 방에서 덤블도어 교수를 만나게 되고, 그 거울이 소망을 보여 주는 소망의 거울이라는 것을 알게 된다. 그리고 다시는 거울을 찾지 않겠다고 약속한다. 나가기 전, 해리는 덤블도어에게 교수님은 이 거울을 보면 무엇이 보이냐고 물었고 덤블도어는 자신이 이 거울을 보면 양말 한 켤레를 들고 있는 자신의 모습을 본다고 대답한다.
            
            며칠 후, 네빌이 말포이의 다리 묶기 주문에 당한 채 그리핀도르 휴게실까지 통통 튀어온다. 그런 네빌을 위로해 주기 위해 헤르미온느가 준 것 중 마지막 개구리 초콜릿을 뜯은 해리는 급행열차 때처럼 덤블도어를 뽑게 되는데, 그 뒷면의 내용에서 니콜라스 플라멜을 발견하고, 그가 마법사의 돌을 만드는 유일한 연금술사이며, 665살이라는 걸 알게 된다. 해그리드가 713번 금고에서 꺼낸 것, 그린고츠의 도둑이 훔치려던 것, 복슬이가 지키고 있는 것은 불로장생의 약, 마법사의 돌이었던 것이다.
            
            2번째 퀴디치 경기. 후플푸프와의 경기로, 심판은 스네이프고 덤블도어 교수가 관전하러 나왔다. 그리핀도르는 스네이프의 편파 판정에도 불구하고 또다시 승리했다. 경기 후 해리는 어두운 공터에서 스네이프가 마법사의 돌에 관해서 퀴럴을 겁주는 모습을 보게 된다.
            
            시험 기간, 셋은 해그리드가 리키 콜드런에서 만난 사람과의 카드게임으로 용의 알을 얻어냈다는 걸 알게 된다. 용의 알은 곧 부화하고 해그리드는 갓 태어난 새끼용의 이름을 노버트로 짓는다. 그러나 해그리드의 집에서 용을 기르는 것은 불가능할 뿐더러 론이 노버트에게 손가락을 물리고 중독되어 입원을 한 데다가 말포이가 용을 봐버렸기 때문에 노버트를 루마니아에서 용을 연구하는 론의 형 찰리 위즐리에게 주기로 한다. 그러나 그 계획도 찰리가 보낸 편지가 끼어있는 론의 책을 말포이가 가져가버리는 바람에 사실을 알아버린다. 야밤에 투명 망토를 이용해 천문탑으로 안전히 용을 배달하였으나 너무 신난 나머지 투명 망토를 두고 오는 바람에 밤에 나간 것이 발각되고, 용에 대해 고자질하여 역시나 밖에 나온 말포이와 함께 해리, 헤르미온느, 그리고 말포이가 나왔다고 주의를 주려 나온 네빌까지 각각 기숙사 점수 50점씩 도합 150점을 감점당하고 징계도 받게 된다.
            
            징계는 해그리드와 함께 금지된 숲으로 가 그의 일을 돕는 것이었다. 거기서 해리는 어떤 두건을 쓴 형상이 유니콘의 피를 빨아먹는 것을 보는데, 동시에 이마의 흉터에 엄청난 고통을 받는다. 해리는 그린고츠의 도둑과 트롤을 풀어둔 사건의 배후에 볼드모트가 있다고 생각한다. 그리고 침실로 돌아가자, '만일을 대비하여'라는 쪽지와 함께 다시 투명 망토가 돌아와 있다.
            
            해리의 흉터는 계속 아프고, 해그리드에게 찾아가 용을 준 사람에 대해 이야기하는데 해그리드가 그에게 복슬이를 지나치는 방법을 알려줬다는 걸 알게 되고 해리와 론, 헤르미온느는 그 사람이 스네이프나 볼드모트라고 확신하여 마법사의 돌을 훔치려 할 것이라는 걸 덤블도어 교수에게 말하려지만 그는 마법 정부의 호출을 받고 잠시 외출을 한 상태였기 때문에 대신 맥고나걸 교수에게 말하지만 그녀는 그것이 안전하며 경거망동하면 기숙사 점수 50점을 또 다시 감점하겠다고 으름장을 놓는다.
            
            그러나 해리, 론, 헤르미온느는 마법사의 돌을 찾으러 투명 망토를 쓰고 가려고 하나, 네빌이 더 이상의 감점은 안 된다며 삼총사를 가로막는다. 헤르미온느가 금세 동작그만 주문으로 네빌을 제압하고 서둘러 복슬이의 방으로 향한다. (해그리드가 크리스마스 선물로 줬던) 피리로 음악을 들려주자 복슬이가 잠들었고 지하실 문으로 떨어지자 악마의 덫이란 식물에 몸이 단단히 묶이는데, 헤르미온느가 불을 붙여 탈출한다.
            (해리가 어서 불을 붙이라고 하자) "그래... 당연히 불을 피워야지. 근데 장작이 없잖아!" 헤르미온느가 양손을 꼭 맞잡고 소리쳤다.
            "너 정신 나갔냐?" 론이 고함을 질렀다. '네가 마법사 아니면 뭔데?"
            악마의 덫 다음 방은 날아다니는 열쇠들이 가득한 방. 문고리와 맞는 열쇠를 해리가 빗자루를 타고 잡아 잠긴 문을 열고 들어갔더니, 거대한 마법사 체스판이 나온다. 세 명이 체스 기물을 대신해야 했는데, 경기 도중 체크메이트를 만들기 위해 론이 희생하고 다음 방에선 전보다 더 큰 트롤이 있었으나 이미 앞서 나간 누군가가 제압해 놓았다. 그 다음 방은 수수께끼의 방이다. 쐐기풀 술 2병과 독약 3병, 앞으로 나아가게 하는 약과 뒤로 돌아가게 하는 약이 1병씩 있다. 헤르미온느가 수수께끼가 적혀있는 양피지 두루마리를 보고, 해답을 풀어 전진 약과 후진 약의 위치를 알아내어 해리는 앞으로 가 스네이프를 막기로 하고, 헤르미온느는 론을 데리고 나가 덤블도어에게 도움을 요청하기로 한다.
            
            해리가 마주친 것은 퀴럴이었다. 퀴디치 시합에서 해리를 떨어뜨리려 한 것도 그였으나 스네이프는 막은 것이었다. 할로윈 때 트롤을 성에 들여놓은 것도 퀴럴이었다. 스네이프가 퀴럴을 위협한 것은 퀴럴을 의심하여 어디까지 갔는지 알려고 한 것이었다. 소망의 거울도 그곳에 있었다. 퀴럴에게서 나오는 듯한 볼드모트의 목소리가 그 거울과 해리를 이용해 마법사의 돌을 꺼내라 하였고, 해리는 진짜 마법사의 돌을 가지게 되었다. 볼드모트는 해리와 직접 대면하겠다고 한다. 그러자 퀴럴이 터번을 벗고 뒤통수를 보이는데, 볼드모트의 얼굴이 퀴럴에 뒤통수에 기생하고 있었다. 해리는 도망치려 했으나 실패하고, 퀴럴이 그를 잡으러 오나 그의 손이 해리의 몸에 닿자마자 화상을 입게 되고, 해리는 잽싸게 퀴럴의 얼굴에 손을 갖다 댄다. 흉터의 통증이 너무 강했으나 해리는 놓지 않다가 결국 빠져나가는 느낌과 함께 암흑 속으로 떨어진다.
            
            해리는 학교 병동에서 깨어났다. 덤블도어 교수가 있었고, 모든 일이 잘 끝났다는 걸 알게 된다. 마법사의 돌은 파괴되었다는 사실과, 사랑의 힘으로 인해 퀴럴이 해리를 만질 수 없었던 것, 스네이프가 해리를 왜 싫어하는지에 대한 간략한 설명, 그리고 투명 망토를 사실 덤블도어 교수가 해리의 아버지에게 받아서 갖고 있다가 준 거라고 듣게 된다. 그리고 그가 소망의 거울에서 마법사의 돌을 꺼낼 수 있던 것은, 그가 그 돌을 찾고 싶어하긴 했으나 사용하지 않을 사람이기 때문이었다는 것이다. 이후 론, 헤르미온느와 해그리드를 만나 이런저런 이야기를 나눈다.
            
            연회장에서의 종강 파티. 기숙사 점수 우승자를 발표하는 날이다. 슬리데린이 점수가 가장 높아 우승컵을 타게 될 것으로 보였다. 슬리데린은 472점이었고, 그리핀도르는 312점으로 꼴찌였다. 그러나 론과 헤르미온느는 50점씩, 해리는 60점을 추가로 받는다. 슬리데린과 동점이 된 순간, 해리와 론, 헤르미온느를 막으려 한 네빌에게 10점이 추가로 주어지며 결국 그리핀도르가 482점으로 우승컵을 쥐게 된다. 그러고는, 해리는 다시 기차를 타고 프리빗가 4번지로 돌아간다.</p>
          <div class="tag-widget post-tag-container mb-5 mt-5">
            <div class="tagcloud">
              <a href="#" class="tag-cloud-link">Life</a>
              <a href="#" class="tag-cloud-link">Story</a>
              <a href="#" class="tag-cloud-link">Magic</a>
              <a href="#" class="tag-cloud-link">Horror</a>
            </div>
          </div>
          
          <div class="about-author d-flex p-5 bg-light">
            <div class="bio align-self-md-center mr-5">
              <img src="{% static 'images/Person-1.jpg' %}" alt="Image placeholder" class="img-fluid mb-4">
            </div>
            <div class="desc align-self-md-center">
              <h3>정민경, 서희찬, 이여원 공동 집필</h3>
              <p>해리포터를 좋아하는 꿈의 주인 정민경님을 시작으로 서희찬, 이여원님께서 같이 이야기를 이어나갔다. 그로 인해 놀라운 반전과 좋은 퀄리티를 보여줄 수 있었다.</p>
            </div>
          </div>


          <div class="pt-5 mt-5">
            <h3 class="mb-5">2 Comments</h3>
            <ul class="comment-list">
              <li class="comment">
                <div class="vcard bio">
                  <img src="{% static 'images/Person-1.jpg' %}" alt="Image placeholder">
                </div>
                <div class="comment-body">
                  <h3>정준홍</h3>
                  <div class="meta">2021년 7월 1일 PM 15:01</div>
                  <p>되게 흥미롭네요! 명예의 전당에 오를 만 함. 영화 제작 왜 안해? 관계자들 뭐해 잡아가!!</p>
                  <p><a href="#" class="reply">Reply</a></p>
                </div>
              </li>

              <li class="comment">
                <div class="vcard bio">
                  <img src="{% static 'images/Person-1.jpg' %}" alt="Image placeholder">
                </div>
                <div class="comment-body">
                  <h3>신예진</h3>
                  <div class="meta">2021년 7월 2일 PM 2:28</div>
                  <p>너무 재미있어요ㅠ 애초에 꿈의 시작부터 흥미로웠는데 이런 반전이 숨어있었다니..!!</p>
                  <p><a href="#" class="reply">Reply</a></p>
                </div>
            </ul>
            <!-- END comment-list -->
            
            <div class="comment-form-wrap pt-5">
              <!--h3 class="mb-5">Leave a comment</h3-->
              <!--form action="#" class="p-5 bg-light">
                <div class="form-group">
                  <label for="name">Name *</label>
                  <input type="text" class="form-control" id="name">
                </div>
                <div class="form-group">
                  <label for="email">Email *</label>
                  <input type="email" class="form-control" id="email">
                </div>
                <div class="form-group">
                  <label for="website">Website</label>
                  <input type="url" class="form-control" id="website">
                </div>

                <div class="form-group">
                  <label for="message">Message</label>
                  <textarea name="" id="message" cols="30" rows="10" class="form-control"></textarea>
                </div>
                <div class="form-group">
                  <input type="submit" value="Post Comment" class="btn py-3 px-4 btn-primary">
                </div>

              </form-->
            </div>
          </div>

        </div> <!-- .col-md-8 -->
        <div class="col-md-4 sidebar ftco-animate order-first">
          <!--div class="sidebar-box">
            <form action="#" class="search-form">
              <div class="form-group">
                <span class="icon fa fa-search"></span>
                <input type="text" class="form-control" placeholder="검색">
              </div>
            </form>
          </div-->
          <div class="sidebar-box ftco-animate">
            <div class="categories">
              <h3>꿈 도서관의 비슷한 다른 작품들</h3>
              <li><a href="#">해리포터 생존 일기 <span>(4))</span></a></li>
              <li><a href="#">한국에도 마법학교가 있다?<span>(8)</span></a></li>
              <li><a href="#">윙가디움 레비오우사!<span>(12)</span></a></li>

            </div>
          </div>

          <!--div class="sidebar-box ftco-animate">
            <h3>Tag</h3>
            <div class="tagcloud">
              <a href="#" class="tag-cloud-link">Magic</a>
              <a href="#" class="tag-cloud-link">libaray</a>
              <a href="#" class="tag-cloud-link">horror</a>
              <a href="#" class="tag-cloud-link">sweet</a>
              <a href="#" class="tag-cloud-link">fun</a>
              <a href="#" class="tag-cloud-link">story</a>
              <a href="#" class="tag-cloud-link">harry poter</a>
              <a href="#" class="tag-cloud-link">love</a>
            </div>
          </div-->

        </div>

      </div>
    </div>
  </section> <!-- .section -->
{% endblock %}