{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class="hero-wrap js-fullheight">
    <div class="overlay"></div>
    <div id="particles-js"></div>
    <div class="container">
      <div class="row no-gutters slider-text align-items-center justify-content-center" data-scrollax-parent="true" style="background-image: url(../static/images/배경사진.jpg);">
        <div class="col-md-6 ftco-animate text-center" data-scrollax=" properties: { translateY: '70%' }">
          <p class="breadcrumbs" data-scrollax="properties: { translateY: '30%', opacity: 1.6 }"><span class="mr-2"><a href="{% url 'index' %}">Home</a></span> <span>Services</span></p>
          <h1 class="mb-3 bread" data-scrollax="properties: { translateY: '30%', opacity: 1.6 }">Services</h1>
        </div>
      </div>
    </div>
  </div>
  
  <section class="ftco-section">
    <div class="container">
      <div class="row justify-content-center mb-5 pb-5">
        <div class="col-md-6 text-center heading-section ftco-animate">
          <span class="subheading">Our Services</span>
          <h2 class="mb-4">누구나 한 번쯤<br> 마음속에 품어봤을 <strong class="emphasis2" style="color: rgba(19, 61, 177, 0.815);">꿈</strong>,<br><strong class="emphasis" style="color:rgba(0, 0, 0, 0.733); background-color: rgba(214, 118, 243, 0.2);">이어드림</strong>에서 펼쳐보세요</h2>
          <p>"이어드림"은 사소한 아이디어로 시작하여 다른 사람들과의 릴레이를 통해 이야기, 그림, 음악 작품을 만들어나갈 수 있는 공간입니다.</p>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6 col-lg-3 d-flex align-self-stretch ftco-animate">
          <div class="media block-6 services d-block text-center">
            <div class="d-flex justify-content-center"><div class="icon color-3 d-flex justify-content-center mb-3"><img src="https://image.flaticon.com/icons/png/512/1553/1553222.png"></div></div>
            <div class="media-body p-2 mt-3">
              <h3 class="heading">함께하는</h3>
              <p>혼자라서 막막했다면 비슷한<br>꿈을 가진 사람들과 함께해요.</p>
            </div>
          </div>      
        </div>
        <div class="col-md-6 col-lg-3 d-flex align-self-stretch ftco-animate">
          <div class="media block-6 services d-block text-center">
            <div class="d-flex justify-content-center"><div class="icon color-1 d-flex justify-content-center mb-3"><img src="https://image.flaticon.com/icons/png/512/983/983535.png"></div></div>
            <div class="media-body p-2 mt-3">
              <h3 class="heading">첫걸음</h3>
              <p>머리로만 생각했던 아이디어를 끄집어내 꿈을 향한 첫걸음을<br>내디뎌봐요.</p>
            </div>
          </div>      
        </div>
        <div class="col-md-6 col-lg-3 d-flex align-self-stretch ftco-animate">
          <div class="media block-6 services d-block text-center">
            <div class="d-flex justify-content-center"><div class="icon color-2 d-flex justify-content-center mb-3"><img src="https://image.flaticon.com/icons/png/512/3314/3314636.png"></div></div>
            <div class="media-body p-2 mt-3">
              <h3 class="heading">무궁무진한</h3>
              <p>쉽게 지나칠 수 있는 소재를<br>기록하고 공유하며 창작의<br>무궁무진한 매력에 빠져봐요.</p>
            </div>
          </div>    
        </div>

        <div class="col-md-6 col-lg-3 d-flex align-self-stretch ftco-animate">
          <div class="media block-6 services d-block text-center">
            <div class="d-flex justify-content-center"><div class="icon color-4 d-flex justify-content-center mb-3"><img src="https://image.flaticon.com/icons/png/512/4751/4751779.png"></div></div>
            <div class="media-body p-2 mt-3">
              <h3 class="heading">도약</h3>
              <p>가벼운 시작이 여러분의 열정과 함께 어느새 하나의 작품으로의 도약을 이루는 것을 볼 수 있어요.</p>
            </div>
          </div>      
        </div>
        <div class="row mt-5">
          <div class="col-md-4 ftco-animate">
            <p>여러분의 생각과 아이디어를 글로 표현하고 싶은 분들을 위해 꿈 게시판에는 이야기 카테고리가 마련되어 있습니다.</p>
            <ul class="list-services">
              <li><h3>#1</h3></li>
              <li><a href="{% url 'story' %}">Scenario</a></li>
              <!--li><a href="#">Mobile App Design Design</a></li>
              <li><a href="#">Responsive Design</a></li-->
            </ul>
          </div>
          <div class="col-md-4 ftco-animate">
            <p>그림으로 표현하고 싶은 소재가 있는 여러분을 위해 꿈 게시판에는 그림 카테고리가 마련되어 있습니다.</p>
            <ul class="list-services">
              <li><h3>#2</h3></li>
              <li><a href="{% url 'drawing' %}">Illustration</a></li>
              <!--li><a href="#">Prototyping</a></li>
              <li><a href="#">Wireframes</a></li-->
            </ul>
          </div>
          <div class="col-md-4 ftco-animate">
            <p>작곡하고 싶은 음악이 있거나 영감이 떠오르신 분들을 위해 꿈 게시판에는 음악 카테고리가 마련되어 있습니다.</p>
            <ul class="list-services">
              <li><h3>#3</h3></li>
              <li><a href="{% url 'music' %}">Music</a></li>
              <!--li><a href="#">UX Strategy</a></li>
              <li><a href="#">User Testing</a></li-->
            </ul>
          </div>
        </div>
      </div>
    </div>
  </section>
{% endblock %}