{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class="hero-wrap js-fullheight">
    <div class="overlay"></div>
    <div id="particles-js"></div>
    <div class="container">
      <div class="row no-gutters slider-text align-items-center justify-content-center" data-scrollax-parent="true" style="background-image: url(../static/images/배경사진.jpg); background-repeat: no-repeat; background-size: cover;">        
        <div class="col-md-6 ftco-animate text-center" data-scrollax=" properties: { translateY: '70%' }">
          <p class="breadcrumbs" data-scrollax="properties: { translateY: '30%', opacity: 1.6 }"><span class="mr-2">SHOP</span> </p>
          <h1 class="mb-3 bread" data-scrollax="properties: { translateY: '30%', opacity: 1.6 }">작품을 매칭해보세요</h1><br><br>
          {%if user.is_authenticated%}
          <h3> <button type="button" class="btn btn-outline-info"><span class="mr-2"><a href="{% url 'new_shop' %}">매칭하기</a></span></button></h3>
          {% else %}
          <h3><span class="mr-2">로그인 후 글 작성이 가능합니다.</span> </h3>
          {% endif%}
        </div>
      </div>
    </div>
  </div>
  <!--div class="col-md-6 ftco-animate text-center" data-scrollax=" properties: { translateY: '70%' }"-->
    <div class="container" style="margin-top: 3%;">
    <table class="table table-hover">
      <thead style="background-color: rgba(241, 199, 213, 0.521); font-size: 15px;">
        <tr>
          <th></th>
          <th>제목</th>
          <th>작성자</th>
          <th>날짜</th>
          <th>내용</th>
        </tr>
      </thead>
      <tbody>
        {% for product in products %}
          <tr>
              <td><li></li></td>
              <td><a href = "{%url 'detail_shop' product.id %}">{{product.title}}</a></td>
              <td><a href = "{%url 'detail_shop' product.id %}" style="color: black;">{{product.writer}}</a></td>
              <td><a href = "{%url 'detail_shop' product.id %}" style="color: black;">{{product.pub_date}}</a></td>
              <td><a href = "{%url 'detail_shop' product.id %}" style="color: black;">{{product.summary}}</a></td>
          </tr>
        {%endfor%}
      </tbody>
    </table>
    <hr>
    <br>
    {%if user.is_authenticated%}
    <div style="text-align: right;"><a href="{% url 'new_shop' %}" class="btn btn-outline-info">매칭하기</a></div>
    {% endif %}
    <div class="row mt-5">
      <div class="col text-center">
        <div class="block-27">
          <ul>
            <li><a href="#">&lt;</a></li>
            <li class="active"><span>1</span></li>
            <li><a href="#">2</a></li>
            <li><a href="#">3</a></li>
            <li><a href="#">4</a></li>
            <li><a href="#">5</a></li>
            <li><a href="#">&gt;</a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <!--/div-->
{% endblock %}