{% load static %}
<nav class="navbar navbar-expand-lg navbar-dark ftco_navbar bg-dark ftco-navbar-light" id="ftco-navbar" style="padding-top: 10px; padding-bottom: 10px; min-height: 60px;">
    <div class="container">
      <a class="navbar-brand" href="{% url 'index' %}"><img class='#' src="{% static 'images/이어드림네브바4.png' %}" width="250px" alt=""></a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#ftco-nav" aria-controls="ftco-nav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="oi oi-menu"></span> Menu
      </button>

      <div class="collapse navbar-collapse" id="ftco-nav">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item"><a href="{% url 'index' %}" class="nav-link">Home</a></li>
          <li class="nav-item active"><a href="{% url 'services' %}" class="nav-link">About</a></li>
          <li class="nav-item"><a href="{% url 'shop' %}" class="nav-link">꿈 거래소</a></li>
          <li class="nav-item"><a href="{% url 'library' %}" class="nav-link">꿈 도서관</a></li>
          <!-- <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="{% url 'portfolio' %}" id="dropdown04" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">꿈 릴레이</a>
              <div class="dropdown-menu" aria-labelledby="dropdown04">
                <a class="dropdown-item" href="{% url 'portfolio' %}">Portfolio</a>
                <a class="dropdown-item" href="{% url 'portfoliosingle' %}">Portfolio Single</a>
              </div>
          </li> -->
          <li class="nav-item"><a href="{% url 'dreamrelay' %}" class="nav-link">꿈 릴레이</a></li>
          {%if user.is_authenticated%}
          <li class="nav-item"><a href="{% url 'blog' %}" class="nav-link">꿈 일기장</a></li>
          <li class="nav-item"><a href="{% url 'mypage:mypage' request.user.id %}" class="nav-link">마이페이지</a></li>
          <li class="nav-item"><a href="{%url 'account_logout'%}" class="nav-link">로그아웃</a></li>
          {% else %}
          <li class="nav-item cta"><a href="{%url 'account_login'%}" class="nav-link">로그인</a></li>
          <li class="nav-item cta"><a href="{%url 'account_signup'%}" class="nav-link">회원가입</a></li>
          {% endif %}
        </ul>
      </div>
    </div>
</nav>